* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: bold, sans-serif;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    color: rgb(14, 13, 13);
    padding: 30px;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    display: flex;
    min-height: 70vh;
}

/* NAV */
nav {
    width: 15%;
    background-color: #34495e;
    padding: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-bottom: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* CENTRO */
.centro {
    width: 55%;
    display: flex;
    padding: 15px;
    gap: 15px;
   
}

/* ASIDE */
aside {
    width: 30%;
    background-color: #ecf0f1;
    padding: 10px;
    
}

/* SECTION */
section {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    height: 100px;
    background-color: #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN */
.login {
    display: flex;
    flex-direction: column;

    width: 15%;
    background-color: #ecf0f1;
    padding: 15px;
}

.login input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.login button {
    width: 100%;
    padding: 5px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 15px;
}




.cards p {
    margin-left: 20px;z-index: 1;
}


.interior {
    width: 10%;
    height: 15%;
    overflow: hidden;
}

.interior:hover {
    background-color: white;
}

#id1 {
    position: absolute;
    width: 100%;
   /* height: 100%;*/
    /*display: block;*/
}

.imagen {
width: 90%;
/*height: 50%;*/
}

#id0 {
    perspective: 1000px;
    /*position: absolute;*/
  
   /* width: 100%;
    height: 100%;*/
}

#id2 {
    transition: transform 1s;
    transform-style: preserve-3d;
    text-align: center;
     position: relative;
   /*font-size: 30px;
    display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;


     
    
   
}



#id0:hover #id2 {
    transform: rotateY(180deg);
}


#id2-text, #id2-img {
    backface-visibility: hidden;
    
}

#id2-img {
    z-index: 2;
}

#id2-text {
    transform: rotateY(180deg);
    z-index: 3;
   /* justify-content: center;
    align-items: center;
    border: 1px solid black;*/
}



aside h3 {
    text-align: center;
    margin-bottom: 15px;
}
