body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

div {
    position: absolute;
    border: 2px solid black;
    width: 100%;
    height: 100%;
   
}

img {
width: 100%;
height: 100%;
}

.superior {
    top: 8%;
}

.inferior {
    bottom: 8%;
}

.interior {
    width: 25%;
    height: 25%;
    border-radius: 50px;
    box-shadow: 10px 10px grey;
    overflow: hidden;
}

.interior:hover {
    background-color: rgb(236, 236, 231);
}
.izquierda {
    left: 8%;
    background-color: rgb(241, 237, 237);
}

#id0 {
    perspective: 1000px;
}

#id2 {
    transition: transform 1s;
    transform-style: preserve-3d;
    text-align: center;
    position: relative;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



#id0:hover #id2 {
    transform: rotateY(180deg);
}

.derecha {
   
    right: 8%;
    background-color: rgb(238, 243, 238);

}

.centro {
    top: 37%;
    background-color: rgb(248, 250, 248);
}

#id1 {
    background-color: rgb(206, 203, 41);
}

#id2-text, #id2-img {
    backface-visibility: hidden;
}

#id2-text {
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
}